services:
  node1:
    image: ghcr.io/litesql/ha:latest
    volumes:
      - ./testdata:/etc/nats
      - node1_data:/data
    ports:
      - "3306:3306"
      - "4222:4222"
      - "5432:5432"
      - "8080:8080"
    environment:
      - HA_SNAPSHOT_INTERVAL=60s
      - HA_NAME=node1
      - HA_ARGS=file:/data/db.sqlite?_journal=WAL&_timeout=5000&_sync=NORMAL
      - HA_CONCURRENT_QUERIES=50
      - HA_NATS_CONFIG=/etc/nats/node1.cfg
      - HA_REPLICAS=1
      - HA_PG_PORT=5432
      - HA_MYSQL_PORT=3306
      - HA_LEADER_ADDR=node1:8080

  node2:
    image: ghcr.io/litesql/ha:latest
    volumes:
      - ./testdata:/etc/nats
      - node2_data:/data
    ports:
      - "3307:3306"
      - "4223:4222"
      - "5433:5432"
      - "8081:8080"
    environment:
      - HA_NAME=node2
      - HA_ARGS=file:/data/db.sqlite?_journal=WAL&_timeout=5000&_sync=NORMAL
      - HA_CONCURRENT_QUERIES=50
      - HA_NATS_CONFIG=/etc/nats/node2.cfg
      - HA_REPLICAS=1
      - HA_PG_PORT=5432
      - HA_MYSQL_PORT=3306
      - HA_LEADER_ADDR=node2:8080

  node3:
    image: ghcr.io/litesql/ha:latest
    volumes:
      - ./testdata:/etc/nats
      - node3_data:/data
    ports:
      - "3308:3306"
      - "4224:4222"
      - "5434:5432"
      - "8082:8080"
    environment:
      - HA_NAME=node3
      - HA_ARGS=file:/data/db.sqlite?_journal=WAL&_timeout=5000&_sync=NORMAL
      - HA_CONCURRENT_QUERIES=50
      - HA_NATS_CONFIG=/etc/nats/node3.cfg
      - HA_REPLICAS=1
      - HA_PG_PORT=5432
      - HA_MYSQL_PORT=3306 
      - HA_LEADER_ADDR=node3:8080

volumes:
  node1_data:
    driver: local
  node2_data:
    driver: local
  node3_data:
    driver: local